@{
    ViewData["Title"] = ViewBag.Title;
}
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> SignInManager;
@inject UserManager<IdentityUser> UserManager
@inject RenderGalleyRazor.Models.DatabaseContext dbContext;

@{
    var user_id = 0;
    if (SignInManager.IsSignedIn(User))
    {

        var user = dbContext.Users.Where(x => x.Email == User.Identity.Name).FirstOrDefault();
        user_id = user.Id;
    }
}

<style>
    .modal-backdrop {
        z-index: -1;
    }
    .middle{
        display:none;
        position: absolute;
        top: 95%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: rgba(10, 14, 14, 0.50);
        color: white;
        font-size: 12px;
        padding: 12px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        width: 100%;
        align-items: center;
        text-align: center;
    }


    .middle2 {
        display: none;
        position: absolute;
        top: 9%;
        left: 92%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);

        color: white;
        font-size: 12px;
        padding: 12px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        width: 80px;

    }

    .top-left {
        display: none;
        position: absolute;
        top: 5%;
        left: 10%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        color: white;
        font-size: 12px;
        padding: 12px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        width: 80px;
    }

    .out-stock {
   
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        color: white;
        font-size: 12px;
        padding: 12px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        
    }
    .item-btn{
        cursor: pointer;
        background-color: black;
        color: #3498DB;
        border-radius: 25px;
        border: 0;
      
    }
    .item-image{

    margin:10px !important;
        height: 30px;
        width: 3px;
    
    }

    .item-image-like {
      
        height: 30px;
        width: 30px;
        margin: 0px 5px !important;
        font-size:12px;
    
    }
    .item-image-profile {
        float:left;
        height: 30px;
        width: 150px;
        margin-left:10px;
    }

    .item-image-price {
        float: left;
        height: 30px;
        width: 70px;
        margin-left: 10px;
    }
    .item-image-like .icone{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @@media (min-width: 1281px) {
        .item-image-like {
            height: 40px;
            width: 40px;
            margin: 0px 5px !important;
            font-size: 14px;
        }

        .item-image-profile {
            float: left;
            height: 40px;
            width: 180px;
            margin-left: 10px;
            font-size: 14px;
        }

        .middle2 {
            display: none;
            position: absolute;
            top: 9%;
            left: 90%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            color: white;
            font-size: 12px;
            padding: 12px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            width: 80px;
        }
}

    #lightgallery .item:hover .middle{
        display:block;

    }

    #lightgallery .item:hover .middle2 {
        display: block;
    }

    #lightgallery .item:hover .top-left {
        display: block;
    }

    #lightgallery .item:hover .item{
        background: rgba(10, 14, 14, 0.50) !important;
    }


        .hover{
        cursor: pointer;
        }
        
</style>

<div class="site-section" data-aos="fade">
    <div class="container-fluid">

        <div class="row justify-content-center">

            <div class="col-md-7">
                <div class="row mb-5">
                    <div class="col-12 ">
                        <h2 class="site-section-heading text-center">@ViewBag.Title</h2>
                    </div>
                </div>
            </div>

        </div>
        <div class="row" id="lightgallery">

        @foreach(var art in ViewBag.arts)
        {
            var user = await UserManager.FindByEmailAsync(art.Publicacao.User.Email);
            var isAdmin = user != null && await UserManager.IsInRoleAsync(user, "Admin");


            if (!isAdmin)
            {
                int art_id = art.Id;
                int likes = dbContext.LikeDeslikes.Where(x => x.art_id == art_id && x.isLike == true).Count();
                int deslikes = dbContext.LikeDeslikes.Where(x => x.art_id == art_id && x.isDeslike == true).Count();

                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 item" data-src="~/@art.Path" data-aos="fade" data-sub-html="<h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor doloremque hic excepturi fugit, sunt impedit fuga tempora, ad amet aliquid?</p>">
                    <img src="~/@art.Path" alt="IMage" onclick="teste('@art.publi_id','@art.Id')" class="img-fluid hover">
                    <div class="middle">

                        <button class="item-btn item-image-profile profile" style="" user_id="@art.Publicacao.User.Id">
                            <i class="far fa-user-circle fa-xl " aria-hidden="true"></i>
                            <a>@art.Publicacao.User.Name</a>
                        </button>


                        @if (SignInManager.IsSignedIn(User))
                        {

                            <button class="item-btn item-image-like msg" style="" user_id="@art.Publicacao.User.Id">
                                <i class="far fa-comments fa-lg icone"></i>

                            </button>

                        }


                        <button class="item-btn item-image-like add-favorito" style="" art_id="@art.Id" user_id="@art.Publicacao.User.Id">
                            <i class="far fa-heart fa-lg icone"></i>

                        </button>


                        <button class="item-btn item-image-like add-cart" style="" art_id="@art.Id" user_id="@art.Publicacao.User.Id">
                            <i class="fas fa-cart-plus icone"></i>

                        </button>


                    </div>

                        <div class="top-left">

                            <button class="item-btn item-image-price profile" style="" user_id="@art.Publicacao.User.Id">
                                <a>@art.valor_formatado</a>
                            </button>

                        </div>
                    <div class="middle2">


                        <button class="item-btn item-image-like like" is_like="1" style="margin-top:10px !important;" art_id="@art.Id" style="" user_id="@art.Publicacao.User.Id">
                            <i class="far fa-thumbs-up fa-lg"></i>
                            @likes
                        </button>
                        <button class="item-btn item-image-like like" is_like="0" style="margin-top:10px !important;" art_id="@art.Id" user_id="@art.Publicacao.User.Id">
                            <i class="far fa-thumbs-down fa-lg"></i>
                            @deslikes
                        </button>

                    </div>

                        @if(art.Quantidade < 1)
                        {
                            <div class="out-stock">
                                <button type="button" class="btn btn-danger" style="background-color:red;">Produto esgotado</button>
                            </div>
                        }

                </div>
            }

        }
        </div>
    </div>


</div>
<div id="teste123" style="display:none;">

</div>

<script type="text/javascript">



    window.onload = function () {

        $(".profile").click(function(){
            var artista_id = $(this).attr("user_id");
            var url = "/Art/Card/?artista_id=" + artista_id;
            $.get(url, function (data) {
                $("#card").html(data);
                $("#modal-card").modal("show");
            });
        })
        $(".like").click(function(){
            var btn = $(this)
            var formData = new FormData();
            var art_id = $(this).attr("art_id");
            var user_id = @user_id;
            var is_like = $(this).attr("is_like");
        
            if(user_id == 0 ){
                window.location.href = '/Account/Register';
                return
            }

            formData.append("art_id", art_id);
            formData.append("user_id", user_id);

            if (is_like == 1) {
                formData.append("isLike", true);
                formData.append("isDeslike", false);
            } else {
                formData.append("isLike", false);
                formData.append("isDeslike", true);
            }

            $.ajax({
                dataType: "json",
                type: "POST",
                url: "/Art/LikeDeslike",
                cache: false,
                contentType: false,
                processData: false,
                data: formData,
                success: function (retorno) {
                    console.log(retorno);

                    if (btn.attr("is_like") == 1) {
                        btn.siblings("button[is_like=0]").text(+retorno['deslikes']).prepend('<i class="far fa-thumbs-down fa-lg"></i> ')
                        btn.text(+retorno['likes']).prepend('<i class="far fa-thumbs-up fa-lg"></i> ')
                    } else {
                        btn.siblings("button[is_like=1]").text(+retorno['likes']).prepend('<i class="far fa-thumbs-up fa-lg"></i> ')
                        btn.text(+retorno['deslikes']).prepend('<i class="far fa-thumbs-down fa-lg"></i> ')
                    }

 
                }
            });
        })

        $(".msg").click(function () {
            $("#msg-content").val("");

            if (@ViewBag.user_id== $(this).attr("user_id")) {
                Swal.fire({
                    title: "Não é possivel mandar mensagens para si mesmo!",
                    html: "Irá fechar em <b></b> milisegundos.",
                    timer: 1000,
                    timerProgressBar: true,
                    didOpen: () => {
                        Swal.showLoading();
                        const timer = Swal.getPopup().querySelector("b");
                        timerInterval = setInterval(() => {
                            timer.textContent = `${Swal.getTimerLeft()}`;
                        }, 100);
                    },
                    willClose: () => {
                        clearInterval(timerInterval);
                    }
                }).then((result) => {
                    /* Read more about handling dismissals below */
                    if (result.dismiss === Swal.DismissReason.timer) {

                    }
                });
                return
            } else if (!@ViewBag.user_id) {
                window.location.href = '/Account/Register';
                return;
            }

            updateChat($(this).attr("user_id"));
            $("#modal1").modal("show");
            
        })
           



    };
       


</script>
<script>
           function teste(publi_id, art_id) {
            var url = "/Art/PubliArts/?publi_id=" + publi_id+"&art_id="+art_id;
            $.get(url, function (data) {
                $("#teste123").html(data);
            });
        }

    // Abre a lightbox com a imagem clicada
    function openLightbox(imageSrc, captionText) {
        document.getElementById('lightbox-img').src = imageSrc;
        document.getElementById('caption').innerHTML = captionText;
        document.getElementById('lightbox').style.display = 'block';
        document.getElementById('dark').style.display = 'block';
    }

    // Fecha a lightbox
    function closeLightbox() {
        document.getElementById('lightbox').style.display = 'none';
        document.getElementById('dark').style.display = 'none';
    }

</script>