@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@using RenderGalleyRazor.Models;
@inject RenderGalleyRazor.Models.DatabaseContext dbContext

@{
    Layout = "";
    var categorias = dbContext.Categorias.ToList();
    var id = ViewBag.id;
}
<style>
    .myRows{
        padding:25px;
        border: solid #eee;
        margin:10px;
    }
    .fa{
        color:red;
        cursor:pointer;
    }
</style>

<div class="myRows" id="arte-@id">
    <h2>Nova Arte <span art_id="@id" class="remove-row"><i class="fa fa-times"></i></span></h2>
    <div class="row">
        <div class="input-group">
            <label>Nome </label>
            <input class="input-publi" id="Artes_ @id _Arte" name="Artes[@id].Arte" type="text" placholder="Nome da arte">
        </div>
        <div class="input-group" style="align-content:center; align-items:center;">
            <label>Arte</label>
            <input class="input-publi" id="Artes_ @id _File" style="display:none;" onchange="document.getElementById('output_@id').src = window.URL.createObjectURL(this.files[0]); document.getElementById('btn-plus_@id').style.visibility = 'hidden';" name="Artes[@id].File" type="file">
            <div class="container-image">
                <img onclick="document.getElementById('Artes_ @id _File').click();" style="cursor:pointer;" src="~/images/add-image.png" id="output_@id" width="100" />

            </div>
        </div>
    </div>

    <div class="row">
        <div class="input-group">
            <label>Valor</label>
            <input class="input-publi" id="Artes_ @id _Valor" name="Artes[@id].Valor" type="number">
        </div>
        <div class="input-group">
            <label for="">Categoria</label>
            <select class="input-publi" id="Artes_ @id _categoria_id" name="Artes[@id].categoria_id">
                @foreach (var categoria in categorias)
                {
                    <option value="@categoria.Id">@categoria.Nome</option>
                }
            </select>
        </div>
    </div>
    <div class="row">
        <div class="input-group">
            <label>Tipo de venda</label>

            <select class="input-publi tipo" art_id="@id" id="Artes_ @id _Tipo" name="Artes[@id].Tipo">
          
             <option value="1">Licença</option>
                <option value="2">Arte Única</option>
            </select>
        </div>

    </div>
    <div class="row" id="row-@id">
        <div class="input-group">
            <label>Quantidade</label>

            <input class="input-publi" art_id="@id" id="Artes_ @id _Quantidade" name="Artes[@id].Quantidade" value="1" type="number">
        </div>

    </div>
</div>
<script>
    $(".remove-row").click(function () {
        var id = $(this).attr("art_id");
        $("#arte-" + id).remove(); 
    })
    $(".tipo").change(function () {

        var id = $(this).attr("art_id");
        if ($(this).val() == 2) {
            $("#row-" + id).hide();
        }else{
            $("#row-" + id).show();
        }
    })
</script>